<table align="center">
<tr><td><%= render "layouts/navbar" %></td></tr>
<tr><td><p>Image <%= @pic_num+1 %> of <%= @pics_count %></td></tr>
<tr><td><%= link_to_if @pic_height == @height_limit, image_tag(@pic.img_src, :height => @pic_height), @pic.img_src %></td></tr>
<tr><td><%= @pic.caption %></td></tr>
</table>