<div class="navbar">
  </br>
  <%= link_to_unless((@pic_num <1), image_tag("first.png", :class => "round"), "#{@route_string}/0") %>
  <%= link_to_unless((@pic_num < 1), image_tag("prev.png", :class => "round"), "#{@route_string}/#{(@pic_num-1).to_s}") %>
  <%= link_to_unless((@pics_count < 2), image_tag("random.png", :class => "round"), "#{@route_string}/#{rand(@pics_count)}") %>
  <%= link_to_unless((@pics_count < 2), image_tag("slideshow.png", :class => "round"), :action => :slideshow, :pic_num => @pic_num, :setname => @pic.setname) %>
  <%= link_to_unless((@pic_num+1 >= @pics_count), image_tag("next.png", :class => "round"), "#{@route_string}/#{(@pic_num+1).to_s}") %>
  <%= link_to_unless((@pic_num+1 >= @pics_count), image_tag("last.png", :class => "round"), "#{@route_string}/#{(@pics_count-1).to_s}") %>
</div>

